/*HTML*/

html {
    scroll-behavior: smooth;
}


/*BODY*/

body {
    background: #212529 !important;
}


/*div NavbarNav*/

div#NavbarNav.collapse.navbar-collapse {
    justify-content: flex-end;
}


/*Logo-img*/

#logo {
    height: 100px;
}


/*navbar*/

.nav-item.active {
    font-size: 20px;
    padding-right: 5px;
}

ul.navbar-nav {
    padding-left: 12%;
    display: flex;
    justify-content: space-between;
}


/*Search Form*/

input.form-control.mr-sm-2 {
    width: 60%;
}


/*Hamburger*/

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #aaa6a6;
}


/*navbar ends here*/


/*main*/

main {
    position: relative;
    top: 100px;
}

h1 {
    color: #ced4da !important;
    margin-top: 80px !important;
    text-align: center;
}


/*home and title*/

#home {
    background-image: url(../img/titelbild2.jpg);
    opacity: 1;
    background-size: cover;
    background-position: center;
    -webkit-transition: .2s;
    transition: .2s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

#home .overlay {
    position: relative;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: -webkit-radial-gradient(48% 42%, 140% 110%, rgba(33, 37, 41, 0.5), rgba(33, 37, 41, 0.6), rgba(33, 37, 41, 0.7), rgba(33, 37, 41, 0.8), rgba(33, 37, 41, 0.93), #212529 55%, #212529 200%);
    background-image: radial-gradient(140% 70% at 48% 42%, rgba(33, 37, 41, 0.5), rgba(33, 37, 41, 0.6), rgba(33, 37, 41, 0.7), rgba(33, 37, 41, 0.8), rgba(33, 37, 41, 0.93), #212529 55%, #212529 200%);
}

p#avatar-p {
    color: rgba(255, 255, 255, 0.55);
    font-size: 20px;
    font-weight: lighter;
    position: absolute;
    top: 40%;
    margin-left: 44%;
    transform: translateY(-50%);
}

#continue-btn {
    color: black;
    font-size: 25px;
    border-radius: 30px;
    background-color: #fff;
    padding: 10px;
    width: auto;
    margin: 0;
    margin-left: 42%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#continue-btn:hover {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 30px;
}

#continue-btn a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.55);
    padding: 10px;
}

#makePlace {
    padding-top: 55%;
}

@media screen and (min-width: 1200px) {
    #makePlace {
        padding-top: 75%;
    }
}

@media only screen and (min-width: 1450px) {
    .product-card {
        max-width: 320px !important;
    }
}

@media only screen and (min-width: 1500px) {
    #makePlace {
        padding-top: 65%;
    }
}

@media only screen and (min-width: 1600px) {
    .product-card {
        max-width: 370px !important;
    }
}

@media only screen and (min-width: 1900px) {
    .product-card {
        max-width: 430px !important;
    }
}

@media only screen and (max-width: 1340px) {
    iframe {
        width: 1140px !important;
        height: 500px !important;
    }
}

@media only screen and (max-width: 1200px) {
    li.nav-item.active {
        font-size: 17px;
    }
}

@media only screen and (max-width: 1128px) {
    iframe {
        width: 840px !important;
        height: 500px !important;
    }
}

@media only screen and (max-width: 992px) {
    .navbar-nav {
        flex-direction: row !important;
    }
    .nav-item.active {
        padding-right: 1.5rem;
    }
    iframe {
        width: 740px !important;
        height: 450px !important;
    }
}

@media only screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .navbar-nav {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column !important;
        background-color: #212529;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .nav-item {
        margin: 16px 0;
    }
    .nav-item:hover {
        background-color: #aaa6a6;
    }
    .navbar-nav.active {
        left: 0;
    }
    iframe {
        width: 540px !important;
        height: 400px !important;
    }
    button#continue-btn {
        margin-left: 34%;
    }
}

@media only screen and (max-width: 635px) {
    button#continue-btn {
        margin-left: 28%;
    }
    #aboutus-section {
        padding: 0px !important;
        padding-top: 3.5px !important;
    }
}

@media only screen and (max-width: 535px) {
    iframe {
        width: 340px !important;
        height: 300px !important;
    }
    button#continue-btn {
        margin-left: 24%;
    }
}

#home_button {
    margin-top: 15%;
}


/*home ends here*/


/*Card-Container starts here*/

.card_container {
    margin-bottom: 50px;
    margin-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card_container .flip-card {
    background-color: transparent;
    width: 400px;
    height: 400px;
    perspective: 1000px;
}

.flip-card {
    margin-bottom: 2.5rem;
}

.flip-card p {
    color: #aaa6a6;
    text-align: center;
}

.card_container .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card_container .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.card_container .flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card_container .flip-card-front {
    background-color: #ced4da;
    color: black;
}

.card_container .flip-card-back {
    background-color: #212529;
    color: white;
    transform: rotateY(180deg);
}


/*Card-Container ends here*/


/*About the company*/

.container h1 {
    margin-bottom: 2.5rem;
}

.container p {
    color: #aaa6a6;
    margin: auto;
    text-align: center;
    font-size: larger;
}


/*Footer section starts here*/

footer {
    color: #aaa6a6;
    position: relative;
    top: 7rem;
    margin: 0px 50px 0px 50px;
}

#footer-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
}

#footer-list li {
    list-style-type: none;
}

#footer-list a {
    text-decoration: none;
    color: #aaa6a6;
}

#footer-list h6 {
    font-weight: bold;
}

#socialMedia img {
    width: 30px;
    padding: 5px;
    padding-bottom: 10px;
}

#copyright img {
    width: 30px;
    padding: 5px;
    padding-bottom: 10px;
}

#copyright p {
    padding-bottom: 20px;
}


/*Footer section ends here*/


/*Product section starts here*/

.product-card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    max-width: 310px;
    margin: 0 auto auto auto;
    margin-bottom: 50px;
    text-align: center;
    font-family: arial;
    border-radius: 5px;
    display: none;
}

.card_container .product-card:nth-child(1),
.card_container .product-card:nth-child(2),
.card_container .product-card:nth-child(3),
.card_container .product-card:nth-child(4),
.card_container .product-card:nth-child(5),
.card_container .product-card:nth-child(6),
.card_container .product-card:nth-child(7),
.card_container .product-card:nth-child(8) {
    display: inline-block;
}

.product-card p {
    color: black;
}

.product-card h2 {
    font-size: 120%;
    font-weight: bold;
    color: black;
}

.price {
    color: grey;
    font-size: 22px;
}

#load-more {
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid #aaa6a6;
    color: #aaa6a6;
    background-color: transparent;
    border-radius: 2.5rem;
    cursor: pointer;
}

#load-more:hover {
    background-color: #fff;
    color: #212529;
}


/*Product section ends here*/


/*Contact section starts here*/

#contact-section {
    padding: 3.5rem;
}

#contact-section p {
    color: #aaa6a6;
}

#contact-section a {
    text-decoration: none;
    color: #aaa6a6;
}


/*Contact section ends here*/


/*About Us section starts here*/

#aboutus-section {
    padding: 3.5rem;
}

#aboutus-section p {
    color: #aaa6a6;
    text-align: left;
    font-size: larger;
    margin-left: 50px;
    margin-right: 50px;
}

#aboutus-section h3 {
    color: #aaa6a6;
    text-align: center;
    font-weight: bolder;
}

.end-section {
    text-align: center;
    padding-top: 706px;
    z-index: 1;
    position: relative;
    text-align: center;
    color: aliceblue;
    background-image: url(../img/footer.jpg);
    background-size: cover;
    background-position: bottom;
}

.end-section .overlay {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-image: -webkit-radial-gradient(48% 65%, 200% 130%, rgba(33, 37, 41, 0.5), rgba(33, 37, 41, 0.6), rgba(33, 37, 41, 0.7), rgba(33, 37, 41, 0.87), rgba(33, 37, 41, 0.99), #212529 55%, #212529 200%);
    background-image: radial-gradient(200% 130% at 48% 65%, rgba(33, 37, 41, 0.5), rgba(33, 37, 41, 0.6), rgba(33, 37, 41, 0.7), rgba(33, 37, 41, 0.87), rgba(33, 37, 41, 0.99), #212529 55%, #212529 200%);
}

.end-container {
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


/*About us section ends here*/

/*Impressum starts here:*/

#impressum p {
    text-align: left;
}

#impressum h1 {
    text-align: left;
}

/*Impressum ends here*/
